<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Add Trip Plan</title>
    </head>
    <body>
        <header>
            <a href="{% url 'travels:dashboard' %}">Home</a>
            <a href="{% url 'login:logout' %}">Logout</a>
        </header>
        <h1>Add a Trip</h1>
        {% if messages %}
                {% for message in messages %}
                <ul>
                    <li>{{ message }}</li>
                </ul>
                {% endfor %}
              </div>
        {% endif %}

        <form action="{% url 'travels:create'%}" method="post">
            {% csrf_token %}
            <label>Destination: <input type="text" name="destination"></label><br>
            <label>Description: <input type="text" name="description"></label><br>
            <label>Travel Date From: <input type="date" name="start_date"></label><br>
            <label>Travel Date To: <input type="date" name="end_date"></label><br>
            <input type="submit" name="create" value="Add">

        </form>
    </body>
</html>
